@model IEnumerable<E_Commerce.Models.Items>

@{
    ViewBag.Title = "WomensProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container text-center">

    <h2 class="h1 text-primary">Womens Products</h2>


    @foreach (var item in Model)

    {
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail item-box">
                    <span class="price-tag">$@item.Price</span>
                    <div class="hovereffect">
                        <img class="img-responsive" src="/images/@item.ItemImage" alt="">
                        <div class="overlay">
                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                            @Html.ActionLink("Details", "Details", new { ItemId = item.Id }, new { @class = "info", @id = "details-btn" })
                        </div>
                    </div>
                    <div class="date">22/5/2018</div>
                </div>
            </div>
        </div>


    }
</section>

