<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <li>
        <a href="~/Home">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <span>Shop</span>
        </a>
    </li>
     <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-area-chart"></i>
            <span>Categories</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Categories/Create">Add New</a></li>
            <li><a href="~/Categories">All Categories</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-table"></i>
            <span>Items</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Items/index">Add New</a></li>
            <li><a href="~/Items">All Items</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="~/Roles/Index">
            <i class="fa fa-fw fa-user"></i>
            <span>Users</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Roles/Index">Roles</a></li>
            <li><a href="~/ManageUsers/UsersWithRoles">Users Roles</a></li>
        </ul>
    </li>
</ul>
